[
 {erlcloud,
  [{aws_config,
    [{ddb_scheme, "http://"},
     {ddb_host, "host.docker.internal"},
     {ddb_port, 8000}]}
  ]},
 {kernel,
  [
   {dist_auto_connect, false},
   {error_logger, tty}
  ]},
 {sasl,
  [
   {sasl_error_logger, tty},
   {errlog_type, all}
  ]}
].

%% Local Variables:
%% mode: erlang
%% End:
